.casilla-negra{
    background-color: #733D1A;
    /* border: 2px solid rgb(255, 255, 255); */
}

.casilla-blanca{
    background-color: #FACD8A;
    /* border: 2px solid black; */
}

#tablero{
    width: 70vh;
    height: 70vh;
    /* background-color: blueviolet; */
}

#casilla{
    background-color: aqua;
    display: flex;
    height: 12.5%;
    width: 12.5%;
    flex-wrap: nowrap;
    border-width: 2px;
    border-color: aliceblue;
    border-style: solid;
}


:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  #container {
    display: grid;
    /* grid-gap: 0.1em; */
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: 70vh;
    height: 70vh;
    /* background-color: rgb(0, 0, 0); */
    border: 2px solid rgb(0, 0, 0);

  }
  
  .grid-item {
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
  }


.fondo-ficha{
    /* background-color: aqua; */
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.casilla-selected{
  background-color: black;
}
#mensajes{
  font-size: 50px;
}
#turno{
  font-size: 50px;
}